.inner {
  position: absolute;
  width: 95%;
  min-height: 620px;
  left: 2.5%;
  top: 35%;
  background-color: #1b1d1f;
  border: 1px solid #6c727f;
  border-radius: 10px;
  padding: 20px;
}

.country-info {
  max-height: 400px;
  overflow-y: auto;
  padding-right: 10px;
}

.country-info::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.no-scroll {
  overflow-y: hidden;
}

.info-bar,
.country-info-row {
  display: grid;
  grid-template-columns: 150px 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 15px;
  padding: 17px 5px;
}

.info-bar h5 {
  margin: 0;
}

.country-info-row {
  font-size: 1.2rem;
  font-weight: 600;
}

.country-info-row:hover {
  cursor: pointer;
  border-radius: 10px;
  background-color: #6c727f;
}

.flag-img {
  width: 100px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flag-img img {
  width: 100px;
  height: auto;
  object-fit: contain;
  border-radius: 5px;
}
