.inner {
  position: absolute;
  width: 95%;
  height: 620px;
  left: 2.5%;
  top: 35%;
  background-color: #1b1d1f;
  border: 1px solid #6c727f;
  border-radius: 10px;
  padding: 20px;
}

.left-filter {
  height: 400px;
}

.country-info {
  max-height: 400px;
  overflow-y: auto;
  padding-right: 10px;
}

.country-info::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.no-scroll {
  overflow-y: hidden;
}

.info-bar,
.country-info-row {
  display: grid;
  grid-template-columns: 150px 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 15px;
  padding: 17px 5px;
}

.info-bar h5 {
  margin: 0;
}

.country-info-row {
  font-size: 1.2rem;
  font-weight: 600;
}

.country-info-row:hover {
  cursor: pointer;
  border-radius: 10px;
  background-color: #6c727f;
}

.flag-img {
  width: 100px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flag-img img {
  width: 100px;
  height: auto;
  object-fit: contain;
  border-radius: 5px;
}

/* Style for search */
.search-bar input[type="text"] {
  width: 400px;
  border-radius: 14px;
  color: #6c727f;
  background-color: #282b30;
  padding: 15px;
  padding-left: 40px;
  outline: none;
}

.search-input:focus {
  border: none;
}

.search-input:not(:focus) {
  border: none;
}

.search-bar input[type="text"]::placeholder {
  color: #6c727f;
}

.search-bar-inner {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 10px;
  pointer-events: none;
}

/* Style for the custom dropdown arrow */
.dropdown::before {
  content: "";
  position: absolute;
  right: 30px;
  top: 18px;
  z-index: 10000;
  width: 12px;
  height: 12px;
  border: 3px solid #6c727f;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  transform: rotate(-45deg);
  transition: 1s;
  pointer-events: none;
}

.dropdown.active::before {
  top: 25px;
  transform: rotate(-225deg);
}

/* Style for the select box */
.selectbox {
  width: 400px;
}

.dropdown {
  position: relative;
  width: 100%;
}

.dropdown input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  cursor: pointer;
  color: #d2d5da;
  background: transparent;
  border: 1px solid #6c727f;
  outline: none;
  border-radius: 10px;
  padding-left: 20px;
  backdrop-filter: blur(2px);
}

/* Style for the dropdown options */
.dropdown.active .option {
  display: block;
  position: absolute;
  top: 60px;
  width: 100%;
  background: transparent;
  border: 1px solid #6c727f;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}

.dropdown .option {
  position: absolute;
  top: 70px;
  width: 100%;
  background: #d9d9d9;
  border-radius: 5px;
  overflow: hidden;
  display: none;
}

.dropdown .option div {
  padding: 12px 20px;
  color: #d2d5da;
  cursor: pointer;
  background-color: #1b1d1f;
}

.dropdown .option div:not(:last-child) {
  border-bottom: 1px solid #6c727f;
}

.dropdown .option div:hover {
  background-color: #282b30;
}

/* Style for region checkbox */
.region-grid {
  width: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.region-label {
  display: inline-block;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.region-label.selected {
  color: #d2d5da;
  background-color: #282b30;
}

.region-label:hover {
  color: #d2d5da;
  background-color: #282b30;
}

/* Style for status checkbox */
.status-filters {
  display: flex;
  flex-direction: column;
}

.status-filters input[type="checkbox"] {
  appearance: none;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 1px solid #6c727f;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

.status-filters input[type="checkbox"]:checked {
  background-color: #4e80ee;
  border-color: #4e80ee6b;
}

.status-filters input[type="checkbox"]:checked::after {
  content: "";
  background-image: url("../../public/images/Done_round.svg");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.status-filters label {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #d2d5da;
  margin-bottom: 10px;
}
